/* For all pages of header */
header {
    margin: 0%;
    top: 0%;
    min-width: 100%;
    position: fixed;
    left: 0%;
    background-color: #2a5587;
    padding: 4px;
    font-size: 30px;
    color: #f2f5f7;
    text-indent: 1%;
}
/*For all pages of image header*/
img {
    width: 30px;
    height: 30px;
    float: 40%;
    position: fixed;
    top: 3px;
}
/*For all pages of navigation */
nav a {
    text-align: right;
    margin-left: 90%;
    color: #fcfcfc;
    position: fixed;
    top: 1%;
    font-size: 20px;
}
/*For cart page link*/
#cart {
    margin-left: 95%;
}
/*For admin&customer&editmenu heading*/
h3 {
    top: 10%;
    position: fixed;
    left: 3.3%;
}
/*For all the other headings*/
h1 {
    top: 10%;
    position: fixed;
    left: 3.3%;
}

/*For the cart notification heading*/
#heading {
    top: 5%;
    position: fixed;
}
/*For admin and customer page table*/
#menu {
    top: 20%;
    left: 5%;
    position: fixed;
    border: 0px solid;
    width: 50%;
}

#menu th {
    font-family: Arial, sans-serif;
}

#menu a {
    color: #302a30;
}
/*For cart page table*/
#menu1 a {
    color: #302a30;
}

#menu1 {
    width: 30%;
    position: fixed;
    top: 18%;
    left: 3.3%;
    border: 0px solid;
}

#menu1 label {
    font-family: Arial, sans-serif;
}
/*For all pages of footer*/
footer {
    bottom: 0%;
    min-width: 100%;
    position: fixed;
    left: 0%;
    background-color: #9e9d9b;
    padding: 20px;
    font-size: 15px;
    text-indent: 0%;
}
/*For name label in edit-menu table*/
#edit-menu {
    top: 20%;
    position: fixed;
    left: 3.3%;
}

#edit-menu label {
    color: #55595e;
    font-family: Arial, sans-serif;
}
/*For other label in edit-menu table*/
#edit-menu1 {
    top: 27.3%;
    position: fixed;
    left: 3.3%;
}

#edit-menu1 label {
    color: #55595e;
    font-family: Arial, sans-serif;
}
/*For edit menu page save button*/
#submit {
    width: 5%;
    height: 5%;
    position: fixed;
    background-color: #2a5587;
    color: #fcfcfc;
}
/*For all the paragraph tags*/
p {
    color: #37bf7b;
    top: 20%;
    left: 3.3%;
    position: fixed;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
/*For customer notification table*/
#status-menu {
    top: 25%;
    left: 3.3%;
    position: fixed;
    width: 30%;
}

#status-menu a {
    color: #302a30;
}
/*For customer notification paragraph*/
#customer {
    color: #37bf7b;
    top: 15%;
    left: 14%;
    position: fixed;
    font-family: Arial, sans-serif
}
/*For customer notification paragraph*/
#customer1 {
    color: #37bf7b;
    top: 10%;
    left: 8%;
    position: fixed;
    font-family: Arial, sans-serif;
}
/*For cart-empty paragraph*/
#cart-empty {
    color: #9e9d9b;
    position: fixed;
    font-family: Arial, sans-serif;
}

#cart-empty a {
    color: #1a83c4;
}
/*For edit status page paragraph*/
#edit-status {
    font-family: Arial, sans-serif;
}

#cart-status {
    font-family: Arial, sans-serif;
    top: 6%;
    left: 3.3%;
    position: fixed;
}